[Unit]
Description=fleetd
After=etcd.service
Wants=fleet.socket
After=fleet.socket
[Service]
Environment="FLEET_METADATA=model=$MODEL"
Environment="FLEET_PUBLIC_IP=$PUBLICIP"
ExecStart = /usr/bin/fleetd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target