[Unit]
Description=fleetd
After=etcd.service fleet.socket docker.service
Wants=fleet.socket docker.service

[Service]
Environment="FLEET_METADATA=model=$MODEL,zone=$ZONE"
Environment="FLEET_PUBLIC_IP=$PUBLICIP"
ExecStart = /usr/bin/fleetd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target